*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	color: white;
	line-height: 2;
	background-color: #2e2d2d;
}

#showcase{
	background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?cs=srgb&dl=pexels-hasan-albari-1229861.jpg&fm=jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
}
.arrow{
	border-left: 0.5rem solid white;
	border-bottom: 0.5rem solid white;
	width: 2rem;
	height: 2rem;
	transform: rotate(-45deg);
}
#about{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 20px;
	padding-left: 
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
}
#pic{
	display: flex;
}
#pic img{
	height: 500px;
	width: 500px;
	border-radius: 150px
}
.headings{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font size: 30px;
}
#intro{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 20px;
}
#intro h2{
	font-size: 2rem;
	margin-bottom: 20px;
}
#projects{
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	padding: 20px;
}
.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
}
.gallery img{
	width: 300px;
	height: 240px;
	margin: 10px;
}
footer{
	padding: 0.7rem;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer{
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#pre-footer h2{
	margin-bottom: 1rem;
}

#pre-footer{
	background-color: #002540;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#pre-footer .vertically{
	display: inline-block;
	vertical-align: bottom;
	min-height: 10px;
	width: 20%;
	margin-left: 1rem;
	margin-right: 3rem;
	color: white;
}

